In [3]:
import pandas as pd
data = pd.read_csv("D:\practice\healthcare-dataset-stroke-data.csv",index_col = 0)
data

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
id,,,,,,,,,,,
9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...
18234,Female,80.0,1,0,Yes,Private,Urban,83.75,NaN,never smoked,0
44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
37544,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

In [17]:
#to analyse only female data
stroke_female = data[data["gender"]=="Female"]
stroke_female

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
id,,,,,,,,,,,
51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
10434,Female,69.0,0,0,No,Private,Urban,94.39,22.8,never smoked,1
27419,Female,59.0,0,0,Yes,Private,Rural,76.15,NaN,Unknown,1
...,...,...,...,...,...,...,...,...,...,...,...
14180,Female,13.0,0,0,No,children,Rural,103.08,18.6,Unknown,0
18234,Female,80.0,1,0,Yes,Private,Urban,83.75,NaN,never smoked,0
44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

In [31]:
#filtering the female data for further analysis
stroke_female[["age","heart_disease","ever_married","Residence_type","bmi","smoking_status","stroke"]]

,age,heart_disease,ever_married,Residence_type,bmi,smoking_status,stroke
id,,,,,,,
51676,61.0,0,Yes,Rural,NaN,never smoked,1
60182,49.0,0,Yes,Urban,34.4,smokes,1
1665,79.0,0,Yes,Rural,24.0,never smoked,1
10434,69.0,0,No,Urban,22.8,never smoked,1
27419,59.0,0,Yes,Rural,NaN,Unknown,1
...,...,...,...,...,...,...,...
14180,13.0,0,No,Rural,18.6,Unknown,0
18234,80.0,0,Yes,Urban,NaN,never smoked,0
44873,81.0,0,Yes,Urban,40.0,never smoked,0
19723,35.0,0,Yes,Rural,30.6,never smoked,0
44679,44.0,0,Yes,Urban,26.2,Unknown,0